.menu {
    width: 20px;
    height: 20px;
    color: aliceblue;
}
main {
    text-align: center;
}
.navbar {
    height: 30px;
    width: 2000px;
    background-color: rgb(231, 215, 215);
}

.tittle {
    text-align: center;
}
mark {
    color: antiquewhite;
    background-color: black;
}
.img-jane {
    height: 600px;
    width: 1500px;
    text-align: center;
}
.text {
    color: #fff;
    position: absolute;
    top: 10px;
}

.left1 {
    font-size: x-large;
    color: #fff;
    position: absolute;
    bottom: 250px;
    left: 250px;
}
.left2 {
    color: #fff;
    position: absolute;
    bottom: 170px;
    left: 250px;
}
.submit {
    font-size: 30px;
    background-color: rgb(133, 161, 161);
    width: 200px;
    height: 50px;
    position: absolute;
    bottom: 120px;
    left: 250px;
}
.main2 {
    width: 1000px;
    position: absolute;
    left: 150px;
}
.img2 {
    width: 1000px;
}
.submit2 {
    position: absolute;
    left: 5px;
    font-size: 20px;
}
.submit3 {
    color: #fff;
    background-color: black;
    position: absolute;
    left: 800px;
    font-size: 20px;
}
.main3 {
    position: absolute;
    right: 230px;
    width: 550px;
    height: auto;
}
.img3 {
    height: 400px;
    width: 550px;
}
.paragraph {
    font-size: 20px;
    color: #fff;
    position: absolute;
    top: 200px;
    text-align: left;
    left: 10px;
}
.post {
    text-align: left;
}
.pepular {
    color: #fff;
    background-color: black;
}
.advertice {
    height: 45px;
    background-color: black;
    color: #fff;
    text-align: left;
}
#here {
    position: absolute;
    top: 170px;
    left: 180px;
}
.table {
    background-color: rgb(224, 224, 224);
    width: 520px;
    height: 400px;
    position: absolute;

    left: 10px;
}
.tablemini {
    width: 450px;
    height: 350px;
    background-color: rgb(233, 231, 227);
    position: absolute;
    left: 35px;
    top: 20px;
}
.tag {
    background-color: black;
    color: #fff;
    position: absolute;
    width: 550px;
    text-align: left;
    height: 40px;
}
.menu3 {
    position: absolute;
    top: 1400px;
}
.box-1 {
    position: absolute;
    top: 60px;
    color: black;
    background-color: rgb(165, 159, 149);
}
.box-1:hover {
    color: aliceblue;
    background-color: black;
}
.box-2 {
    position: absolute;
    top: 60px;
    left: 70px;
    color: black;
    background-color: rgb(196, 188, 178);
}
.box-2:hover {
    color: aliceblue;
    background-color: black;
}
.box-3 {
    position: absolute;
    top: 60px;
    color: black;
    left: 160px;
    background-color: rgb(179, 173, 165);
}
.box-3:hover {
    color: aliceblue;
    background-color: black;
}
.box-4 {
    position: absolute;
    top: 60px;
    left: 230px;
    color: black;
    background-color: rgb(182, 177, 170);
}
.box-4:hover {
    color: aliceblue;
    background-color: black;
}
.box-5 {
    position: absolute;
    top: 60px;
    left: 290px;
    color: black;
    background-color: rgb(200, 193, 183);
}
.box-5:hover {
    color: aliceblue;
    background-color: black;
}
.box-6 {
    position: absolute;
    top: 90px;
    color: black;
    background-color: rgb(209, 203, 196);
}
.box-6:hover {
    color: aliceblue;
    background-color: black;
}
.box-7 {
    position: absolute;
    top: 90px;
    left: 70px;
    color: black;
    background-color: rgb(228, 219, 207);
}
.box-7:hover {
    color: aliceblue;
    background-color: black;
}
.box-8 {
    position: absolute;
    top: 90px;
    color: black;
    left: 150px;
    background-color: rgb(225, 217, 207);
}
.box-8:hover {
    color: aliceblue;
    background-color: black;
}
.box-9 {
    position: absolute;
    top: 90px;
    color: black;
    left: 240px;
    background-color: rgb(225, 217, 207);
}
.box-9:hover {
    color: aliceblue;
    background-color: black;
}
.box-10 {
    position: absolute;
    top: 90px;
    color: black;
    left: 310px;
    background-color: rgb(225, 217, 207);
}
.box-10:hover {
    color: aliceblue;
    background-color: black;
}
.box-11 {
    position: absolute;
    top: 60px;
    color: black;
    left: 360px;
    background-color: rgb(225, 217, 207);
}
.box-11:hover {
    color: aliceblue;
    background-color: black;
}
#inpirasion {
    background-color: black;
    color: #fff;
    width: 550px;
    position: absolute;
    top: 1600px;
    text-align: left;
}
.img4 {
    position: absolute;

    width: 200px;
}
.menu-img {
    position: absolute;
    top: 1700px;
}
.img5 {
    position: absolute;
    left: 300px;

    width: 200px;
}
.img6 {
    position: absolute;
    top: 180px;

    width: 200px;
}
.img7 {
    position: absolute;
    top: 180px;
    left: 300px;

    width: 200px;
}
.folow {
    position: absolute;
    top: 2100px;
}
#me {
    color: #fff;
    background-color: black;
    width: 550px;
    text-align: left;
}
.navbar2 {
    text-align: left;
}
.subcri {
    position: absolute;
    top: 2400px;
    text-align: left;
}
#sub {
    background-color: black;
    color: #fff;
    width: 550px;
}
.foter {
    background-color: rgb(111, 99, 99);
    color: aliceblue;
    position: absolute;
    top: 4200px;
    width: 1800px;
    height: 200px;
    border-radius: 5%;
}
.atop {
    width: 200px;
    height: 50px;
    background-color: rgb(3, 15, 15);
    color: #fff;
    font-size: 35px;
    position: absolute;
    top: 60px;
}
.w3 {
    position: absolute;
    top: 140px;
}
